@font-face {
  font-family: "BalsamiqSansRegular";
  src: url(../fonts/Balsamiq_Sans/BalsamiqSans-Regular.ttf);
}

body {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-family: "BalsamiqSansRegular";
  background-image: radial-gradient(circle at top center, #f3b12e, #e69924, #d9811a, #cc680f, #bf5005);
  height: 100vh;
  color: #953801;
  position: relative;
}

body .content-header h1 {
  padding: 50px;
  font-size: 3em;
  color: #953801;
  line-height: 1.4em;
  width: 400px;
  margin: auto;
}

body .content-header p {
  width: 480px;
  margin: auto;
}

body .content-header button {
  font-size: 1em;
  padding: 1em;
  border-radius: 5px;
  background-color: #fff7ce;
  color: #953801;
  border: none;
  -webkit-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.479);
          box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.479);
}

body .content-header button:hover {
  cursor: pointer;
  background-color: #eab562;
}

body .content-game {
  width: 400px;
  margin: auto;
}

body .content-game h2 {
  padding: 80px;
  color: #953801;
  font-size: 1.3em;
}

body .content-game #memory-guess-letter {
  width: 91%;
  margin: auto;
  padding: 1em;
  border-radius: 5px;
  margin-top: 8px;
  border: 2px solid #cb650e;
}

body .content-game progress {
  -webkit-appearance: initial;
     -moz-appearance: initial;
          appearance: initial;
  width: 100%;
  margin: 1em 0;
}

body .content-game ::-webkit-progress-value {
  background-color: #953801;
}

body .content-game ::-webkit-progress-bar {
  background-color: transparent;
  border: 2px solid;
  border-radius: 15px;
}

body .content-image img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

body .alphabet-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .alphabet-wrapper ul .letter {
  padding: 1em;
  margin: 0.2em;
  width: 50px;
  background-color: #fff7ce;
  text-transform: uppercase;
  border-radius: 5px;
}

body .alphabet-wrapper ul .On:hover {
  background-color: #eab562;
  cursor: pointer;
}

body .alphabet-wrapper ul .Off {
  background-color: #eab562;
}

body .modal-wrapper {
  background-color: #e79c25;
  -webkit-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.514);
          box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.514);
  width: 80%;
  height: 80vh;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .modal-wrapper #message {
  font-size: 2em;
  line-height: 2em;
}

body .modal-wrapper button {
  width: 30%;
  margin: 1em;
  padding: 1em;
  background-color: transparent;
  border: 2px solid white;
}

body .modal-wrapper button:hover {
  background-color: white;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */