@font-face {
  font-family: "BalsamiqSansRegular";
  src: url(../fonts/Balsamiq_Sans/BalsamiqSans-Regular.ttf);
}

body {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-family: "BalsamiqSansRegular";
  background: radial-gradient(
    circle at top center,
    rgb(243, 177, 46),
    rgb(230, 153, 36),
    rgb(217, 129, 26),
    rgb(204, 104, 15),
    rgb(191, 80, 5)
  );
  background-size: cover;
  min-height: 100vh;
  color: rgb(149, 56, 1);
  position: relative;
  .content-header {
    h1 {
      padding: 2%;
      font-size: 3em;
      line-height: 1.4em;
    }
    p {
      max-width: 480px;
      margin: auto;
    }
    button {
      font-size: 1em;
      padding: 1em;
      border-radius: 5px;
      background-color: #fff7ce;
      color: rgb(149, 56, 1);
      border: none;
      box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.479);
      &:hover {
        cursor: pointer;
        background-color: #eab562;
      }
    }
  }

  .content-game {
    max-width: 400px;
    margin: auto;
    h2 {
      padding: 10% 5%;
      font-size: 1.3em;
    }
    #memory-guess-letter {
      width: 90%;
      margin: auto;
      padding: 1em;
      border-radius: 5px;
      margin-top: 8px;
      border: 2px solid #cb650e;
    }

    progress {
      appearance: initial;
      width: 90%;
      margin: 1em 0;
    }
    ::-webkit-progress-value {
      background-color: #953801;
    }
    ::-webkit-progress-bar {
      background-color: transparent;
      border: 2px solid;
      border-radius: 15px;
    }
  }
  .content-image {
    img {
      filter: invert(1);
    }
  }
  .alphabet-wrapper {
    ul {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      width: 90%;
      margin: auto;
      .letter {
        padding: 2%;
        margin: 0.2em;
        width: 2%;
        background-color: #fff7ce;
        text-transform: uppercase;
        border-radius: 5%;
      }
      .On {
        &:hover {
          background-color: #eab562;
          cursor: pointer;
        }
      }
      .Off {
        background-color: #eab562;
      }
    }
  }
  .modal-wrapper {
    background-color: #e79c25;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.514);
    width: 80%;
    height: 80vh;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #message {
      font-size: 2em;
      line-height: 2em;
    }
    button {
      width: 30%;
      margin: 1em;
      padding: 1em;
      background-color: transparent;
      border: 2px solid white;
      &:hover {
        background-color: white;
        cursor: pointer;
      }
    }
  }
}
@media all and (max-width: 500px) {
  body {
    .alphabet-wrapper {
      ul {
        width: 100%;
        .letter {
          padding: 3%;
          width: 3%;
          transition: all 0.2s ease-out;
        }
      }
    }
  }
}
